@media (min-width: 992px) {
  .header {
    &-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem 0;
    }
    &-logo {
      padding: 0.5rem;
      border-radius: 15px;
    }
    &-label {
      display: none;
    }
    .nav {
      all: unset;

      &-links {
        display: flex;
        position: relative;
        top: 50%;
        background: none;
      }
      &-link {
        opacity: 1;
        margin-right: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: darken($color: $secondary-clr, $amount: 20);
        &:hover {
          color: $secondary-clr;
        }
      }
    }
  }
  .hero {
    &-center {
      @include flex-s-evenly;
    }
    &-photo {
      width: 80%;
    }
    &-intro {
      align-self: flex-start;
    }
  }
  .main {
    &-video {
      width: 60%;
    }
  }
  .section {
    &-center {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &-img2 {
      width: 80%;
      padding: 1rem 0;
    }
    &-img3 {
      width: 20%;
    }
    &-border-back {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 30px;
        width: 420px;
        height: 470px;
        border: 7px solid $secondary-clr;
        z-index: -1;
        box-shadow: 10px 10px 10px $light-gray;
      }
    }
    &-header {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .sectionb {
    &-center {
      @include flex-s-evenly;
    }
    &-row {
      @include flex-s-evenly;
    }
  }
  .sectionc {
    &-center {
      @include flex-s-evenly;
      height: 50vh;
      border-top: 2px solid $primary-clr;
    }
    &-bars {
      width: 15px;
      margin-left: 0.5rem;
    }
    &-bar {
      width: 15px;
    }
  }
  .footer {
    @include flex-s-between;
  }
}

@media (max-width: 992px) {
  .sectionc {
    &-columns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      -moz-column-gap: 0.3rem;
      column-gap: 0.3rem;
    }
  }
  .col {
    &-arrow {
      i {
        display: none;
      }
    }
    &-arrow1,
    &-arrow2,
    &-arrow3,
    &-arrow4,
    &-arrow5,
    &-arrow6 {
      display: none;
    }
  }

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6 {
    &::before {
      content: '';
      display: none;
    }
  }
  .col3 {
    border: none;
  }
}

@media (min-width: 992px) {
  .table {
    &-content {
      flex-direction: row;
    }
  }
  .img {
    &-photo {
      width: 60%;
    }
    &-plasma2 {
      width: 40%;
    }
  }
  .technology {
    &-hero {
      flex-direction: row;
    }
    &-head {
      align-self: flex-start;
      max-width: 400px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: 5px 5px 15px $light-blue;
        background: $secondary-clr;
        opacity: 0.2;
        z-index: -1;
      }
    }
    &-photo {
      width: 70%;
    }
    &-img {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 80px;
        width: 550px;
        height: 550px;
        border: 7px solid darken($color: $secondary-clr, $amount: 10);
        z-index: -1;
        border-radius: 20px;
      }
    }
  }
  .tech {
    &-table-content {
      @include flex-center;
    }
  }
  .table-a {
    &-head1 {
      padding: 1rem;
    }
    &-data1 {
      padding: 1rem;
    }
  }
  .sectionteam {
    .team {
      &-content {
        @include flex-center;
        margin-bottom: 4rem;
      }
      &-article {
        max-width: 300px;
        max-height: 400px;
      }
      &-article2 {
        align-self: flex-end;
        margin-top: 5rem;
      }
      &-img {
        width: 150px;
        height: 150px;
      }
      &-img2 {
        width: 70%;
      }
    }
  }
  .last {
    &-photo {
      width: 20%;
    }
  }
}
