.project {
  background: url('../new-image/bg-1.jpg') center/cover no-repeat;
  &-hero {
    padding: 2rem;
    @include flex-column;
  }
  &-title {
    text-align: center;
    color: darken($color: $secondary-clr, $amount: 20);
    margin: 1.5rem;
  }
  &-photo {
    display: block;
    margin: 1rem auto;
    width: 90%;
  }
}
.newcastle {
  padding: 2rem;
  &-alert {
    font-size: 1.25rem;
    color: rgb(238, 87, 87);
    margin-bottom: 1.5rem;
  }
  &-suptitle {
    color: rgb(29, 29, 49);
    font-size: 1.1rem;
    margin: 1rem 0;
    text-transform: uppercase;
    border-bottom: 3px solid $secondary-clr;
    max-width: 300px;
    padding-bottom: 0.5rem;
  }
  &-text {
    color: $secondary-clr;
    max-width: 800px;
  }
  &-textlist {
    margin: 1rem 0;
    font-size: 1.1rem;
    font-weight: 500;
  }
  &-list {
    padding-bottom: 1rem;
    margin-left: 1rem;
    list-style-type: circle;
    max-width: 800px;
  }
  // second list with lower alpha
  &-list2 {
    padding-bottom: 1rem;
    margin: 1rem 0 0 1rem;
    list-style-type: lower-alpha;
  }
}
.table {
  &-content {
    @include flex-column;
    margin: 1.5rem 0;
    padding-top: 1rem;
    border-top: 3px solid $secondary-clr;
  }

  &-head {
    background: rgb(144, 213, 238);
    border: 2px solid rgb(21, 5, 49);
    padding: 1rem;
  }
  &-data {
    background: rgb(206, 206, 248);
    padding: 1rem;
    border: 2px solid rgb(21, 5, 49);
  }
}
.newtable {
  text-align: center;
  max-width: 400px;
  min-height: 300px;
}
.img {
  &-content {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
  &-photo {
    display: block;
    width: 100%;
    margin: 1rem auto;
  }
  &-container2 {
    justify-self: start;
  }
  &-plasma2 {
    width: 40%;
  }
  &-text {
    color: rgb(238, 87, 87);
    font-weight: 500;
    text-align: center;
  }
  &-photo-3d {
    display: block;
    width: 100%;
    margin: 1rem auto;
  }
}
